// _base.scss

a:focus,
a:focus-within,
a:focus-visible,
a:active {
    outline: 2px solid $color-secondary-dark;
    outline-offset: 4px;
    border-radius: $border-radius;
}

body {
    font-family: $font-family-primary;
    background: $color-light;
    color: $color-black;
    font-size: clamp(10px, 16px, 3.2vw);
}

h1 {
    font-size: 3em;

    &.title {
        font-family: $font-family-secondary;
        font-size: 9.0625em;
        font-weight: 900;
    }
}

h2 {
    font-size: 2em;

    &.title {
        font-family: $font-family-secondary;
        font-size: 5.25em;
        font-weight: 900;
    }
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}
