// _dyslexia.scss

html {
    &.dyslexia-friendly {
        font-size: 1em !important;
        line-height: 1.5 !important;
        letter-spacing: 0.12em !important;
        word-spacing: 0.42em !important;
        text-transform: none !important;
        font-style: normal !important;
        text-decoration: none !important;
        animation: none !important;
        transition: none !important;

        * {
            font-family: $font-family-dyslexia !important;
        }

        *:focus {
            outline: 2px solid $color-dyslexia-accent !important;
        }

        // a {
        //     color: $color-dyslexia-accent !important;
        //     text-decoration: underline !important;
        // }

        // h1 {
        //     font-size: 9.0625em;
        // }
        // h2 {
        //     font-size: 5.25em;
        // }
        // h3 {
        //     font-size: 3em;
        // }
        // h4 {
        //     font-size: 2em;
        // }
        // h5 {
        //     font-size: 1.5em;
        // }
        // h6 {
        //     font-size: 1.25em;
        // }

        // input,
        // textarea,
        // select {
        //     font-family: inherit !important;
        //     font-size: inherit !important;
        // }
    }
}
