// _contact.scss

section#contact {
    display: flex;
    flex-direction: column;
    margin: 0 1em;

    .left {
        width: 100%;
    }

    .right {
        width: 100%;

        form {
            width: 100%;
            padding: 2em;
            background: $color-white;
        }
    }
}

@media #{$mq-md} {
    section#contact {
        flex-direction: row;
        justify-content: space-between;
        overflow-x: hidden;

        .left {
            width: 50%;
        }

        .right {
            width: 50%;
            form {
                width: 700px;
                transform: translateX(100%);
            }
        }
    }
}

@media print {
    section#contact {
        form {
            margin: 0 auto;
        }
    }
}
