// _contact.scss

section#contact {
    overflow-x: hidden;

    .left {
        width: 100%;
    }

    .right {
        margin-bottom: 1.5em;
        width: 100%;

        form {
            width: 100%;
            padding: 2em;
            background: $color-white;
        }
    }
}

@media #{$mq-md} {
    section#contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {
            width: 50%;
            margin: auto;
        }

        .right {
            align-items: flex-start;
            width: 50%;

            form {
                max-width: 500px;
                transform: translateX(100%);
            }
        }
    }
}

@media #{$mq-lg} {
    section#contact {
        .right {
            form {
                max-width: 700px;
            }
        }
    }
}

@media print {
    section#contact {
        form {
            display: table;
            margin: 0 auto;
        }
    }
}
