// _home.scss

section#home {
    background: $color-primary;

    .left {
        margin-top: 5.75em;

        h1 {
            font-size: clamp(2em, 9.0625em, 12vw);

            :nth-child(odd) {
                display: block;
                transform: skew(0deg, -20deg) scaleY(1);
            }

            :nth-child(even) {
                display: block;
                transform: skew(60deg, -20deg) scaleY(0.5) translateX(1.75%) translateY(-50%);
            }
        }
    }

    .right {
        justify-content: space-evenly;

        &__intro {
        }

        &__cta {
            display: flex;
            flex-direction: column;
        }
    }
}

@media #{$mq-xs} {
    section#home {
        .right {
            &__intro {
            }

            &__cta {
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
            }
        }
    }
}

html.darkmode {
    section#home {
        background: $color-dark;
        color: $color-primary-light;
    }
}
