.tabset {
    display: flex;
    flex-direction: column;
    width: 100%;

    .nav-tabs {
        width: 100%;

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            li {
                background: $color-primary;

                input[type="radio"] {
                    display: none;
                }

                label {
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    padding: 1em;
                    cursor: pointer;
                    white-space: nowrap;

                    &:hover {
                        background: $color-primary-light;
                    }
                }
            }
        }
    }

    .tab-panels {
        flex: 1;

        .tab-panel {
            display: none;
            grid-template-areas:
                "banner banner banner"
                "content content content"
                "footer footer footer";

            height: 100%;

            &.active {
                display: grid;
            }

            .tab-panel__banner {
                grid-area: banner;

                img {
                    width: 100%;
                }
            }

            .tab-panel__content {
                grid-area: content;
            }

            .tab-panel__footer {
                grid-area: footer;

                .skills {
                    li {
                        display: inline-block;
                        background-color: rgba($color-light, 0.25);
                        padding: 5px 10px;
                        margin: 5px;
                        border-radius: 4px;
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 10px;
            }
        }
    }
}

@media #{$mq-sm} {
    .tabset {
        .nav-tabs {
            ul {
                display: flex;
                li {
                    flex: 1;
                }
            }
        }
    }
}

@media #{$mq-md} {
    .tabset {
        flex-direction: row-reverse;

        .nav-tabs {
            width: 21.4%;

            ul {
                flex-direction: column;
            }
        }

        .tab-panels {
            width: 78.6%;

            .tab-panel {
                grid-template-areas:
                    "banner banner banner"
                    "footer content content"
                    "footer content content";
                grid-gap: 1em;
            }
        }
    }
}
