.article {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .article__title {
        display: inline-block;
        margin-bottom: 0.25em;
    }

    .article__content {
        width: 100%;
        margin-bottom: 1.5em;
    }
}

.article__title {
    &--main {
        margin-bottom: 0.5em;
    }

    &--underline {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: calc(100% + 0.5em);
            border-bottom: 0.1em solid $color-black;
        }
    }
}

@media print {
    .article {
        display: table;
    }
}

html.darkmode {
    .article__title {
        &--underline {
            &::before {
                border-bottom: 0.1em solid $color-light;
            }
        }
    }
}
