.cookie-banner {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    background-color: $color-white;
    color: $color-black;
    padding: 2em;
    border-radius: $border-radius;
    height: 4em;
    width: 4em;
    overflow: hidden;
    transition:
        width 0.75s 0.75s ease,
        height 0.75s ease;
    z-index: 99;
    max-height: calc(100dvh - 5em);

    &.expanded {
        width: calc(100% - 1em);
        transition:
            width 0.75s ease,
            height 0.75s 0.75s ease;
    }

    &.no-transition {
        transition: none !important;
    }

    &-toggle {
        display: none;
    }

    &-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        max-height: calc(100% - 2em);
        overflow-x: hidden;

        &__header {
            padding: 0 0.5em;
            margin-bottom: 0.75em;
        }

        &__body {
            padding: 0 0.5em;
            margin-bottom: 2.5em;

            em {
                font-style: normal;
                font-weight: bolder;
            }
        }

        &__footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 0.5em;

            .cookie__footer__main-buttons {
                display: flex;
                justify-content: space-evenly;
                gap: 1em;

                button {
                    flex: 1;
                }
            }
        }
    }

    .cookie-banner-toggle-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4em;
        background: $color-white;

        .cookie-icon-label {
            position: absolute;
            bottom: 0.5em;
            right: 0.5em;
            height: 3em;
            width: 3em;
            border-radius: $border-radius;
            cursor: pointer;

            .cookie-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 2.25em;

                .svg--fill {
                    fill: $color-primary;
                }
                .svg--stroke {
                    fill: none;
                    stroke: $color-primary;
                    stroke-width: 2px;
                }
            }
        }
    }
}

@media #{$mq-sm} {
    .cookie-banner {
        &.expanded {
            width: 50%;
        }
    }
}

@media #{$mq-md} {
    .cookie-banner {
        &.expanded {
            width: 650px;
        }
    }
}

@media print {
    .cookie-banner {
        display: none;
    }
}

html.darkmode {
    .cookie-banner {
        background-color: $color-dark-elevation-9;
        color: $color-white;

        &-content {
            &__body {
                em {
                    letter-spacing: 0.07em;
                }
            }
        }
    }

    .cookie-banner-toggle-container {
        background: $color-dark-elevation-9;

        .cookie-icon-label {
            .cookie-icon {
                .svg--fill {
                    fill: $color-primary-light;
                }
                .svg--stroke {
                    fill: none;
                    stroke: $color-primary-light;
                }
            }
        }
    }
}
