// _divider.scss

.divider {
    height: 1px;
    width: 50%;
    margin: 0 auto 0.75em;
    border: none;
    background: linear-gradient(to left, rgba($color-white, 0) 0%, rgba($color-white, 0.25) 50%, rgba($color-white, 0) 100%);
}
