// _forms.scss

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: $border-radius;

    .form-control {
        position: relative;
        margin-bottom: 2.5em;

        .form__label {
            position: absolute;
            transform: scale(1);
            transform-origin: top left;
            top: 0.375em;
            font-size: 1.125em;
            margin-left: 0.625em;
            transition:
                transform 200ms cubic-bezier(0, 0, 0.2, 1),
                left 200ms cubic-bezier(0, 0, 0.2, 1),
                top 200ms cubic-bezier(0, 0, 0.2, 1);
            z-index: 1;
            cursor: text;
        }

        &:has(.input--filled) .form__label {
            margin-top: 0.75em;
        }

        .form__input,
        .form__select,
        .form__textarea {
            font-family: $font-family-primary;
            width: 100%;
            padding: 0.375em 0.625em;
            font-size: 1.125em;
            color: $color-black;
            background: none;
            border: none;
            outline: none;

            &.input--standard {
                border-bottom: 1px solid rgba($color-black, 0.42);
                min-height: 42px;
            }

            &.input--filled {
                background: rgba($color-black, 0.1);
                border-bottom: 1px solid rgba($color-black, 0.42);
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                padding-top: 1.125em;
                min-height: 55px;
            }

            &.input--outlined {
                border: 1px solid rgba($color-black, 0.42);
                border-radius: $border-radius;
                min-height: 43px;
            }
        }

        .form__select {
            appearance: none;
            position: relative;
            cursor: pointer;

            &::-ms-expand {
                display: none;
            }

            &.custom__select {
                caret-color: transparent;
            }
        }

        .custom__select__options {
            display: none;
            position: absolute;
            z-index: 99;
            width: 100%;
            margin: 0.125em 0 0 0;
            box-shadow:
                0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
            text-align: left;

            &.show {
                display: block;
            }

            li {
                padding: 0.125em 0.5em;
                font-size: 1.125em;
                cursor: pointer;
                border-left: 1px solid rgba($color-black, 0.42);
                border-right: 1px solid rgba($color-black, 0.42);
                background: $color-white;

                &:first-child {
                    border-radius: $border-radius $border-radius 0 0;
                    border-top: 1px solid rgba($color-black, 0.42);
                }
                &:last-child {
                    border-radius: 0 0 $border-radius $border-radius;
                    border-bottom: 1px solid rgba($color-black, 0.42);
                }

                &.highlight {
                    background: $color-primary;
                    color: $color-white;
                }
            }
        }

        &:has(.form__select)::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 50%;
            right: 0;
            width: 7px;
            height: 7px;
            border-bottom: 2px solid #0a0909;
            border-left: 2px solid #0a0909;
            transform: rotate(-45deg) translateY(-75%);
            pointer-events: none;
        }

        .form__textarea {
            resize: vertical;
        }

        .form__error {
            position: absolute;
            margin-top: 0.375em;
        }

        &:has(.input--standard)::after,
        &:has(.input--filled)::after,
        &:has(.input--outlined)::after {
            position: absolute;
            content: "";
            border-color: $color-primary;
        }

        &:has(.input--standard)::after,
        &:has(.input--filled)::after {
            bottom: 0;
            left: 0;
            width: 100%;
            transform: scaleX(0);
            transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
            border-bottom-width: 2px;
            border-bottom-style: solid;
        }

        &:has(.input--standard:hover)::after,
        &:has(.input--standard:focus)::after,
        &:has(.input--standard > option:checked)::after,
        &:has(.input--filled:hover)::after,
        &:has(.input--filled:focus)::after,
        &:has(.input--standard > option:checked)::after {
            transform: scaleX(1);
        }

        &:has(.input--outlined:hover)::after,
        &:has(.input--outlined:focus)::after,
        &:has(.input--outlined > option:checked)::after {
            inset: 0;
            border-width: 2px;
            border-style: solid;
            border-radius: $border-radius;
            pointer-events: none;
        }

        &:has(.input--standard:focus) .form__label,
        &:has(.input--standard:not(:placeholder-shown)) .form__label,
        &:has(.input--standard > option:checked) .form__label,
        &:has(.input--filled:focus) .form__label,
        &:has(.input--filled:not(:placeholder-shown)) .form__label,
        &:has(.input--filled > option:checked) .form__label,
        &:has(.input--outlined:focus) .form__label,
        &:has(.input--outlined:not(:placeholder-shown)) .form__label,
        &:has(.input--outlined > option:checked) .form__label {
            transform: scale(0.8125);
            color: $color-primary;
            cursor: default;
        }

        &:has(.input--standard:focus) .form__label,
        &:has(.input--standard:not(:placeholder-shown)) .form__label,
        &:has(.input--standard > option:checked) .form__label {
            top: -1em;
        }

        &:has(.input--filled:focus) .form__label,
        &:has(.input--filled:not(:placeholder-shown)) .form__label,
        &:has(.input--filled > option:checked) .form__label,
        &:has(.input--outlined:focus) .form__label,
        &:has(.input--outlined:not(:placeholder-shown)) .form__label,
        &:has(.input--outlined > option:checked) .form__label {
            top: -0.625em;
        }

        &:has(.input--outlined:focus) .form__label,
        &:has(.input--outlined:not(:placeholder-shown)) .form__label,
        &:has(.input--outlined > option:checked) .form__label {
            background: $color-white;
        }
    }
}

@media print {
    form {
        display: table;
    }
}

html.darkmode {
    form {
        .form-control {
            .form__input,
            .form__select,
            .form__textarea {
                color: $color-light;

                &.input--standard {
                    border-bottom: 1px solid rgba($color-light, 0.42);
                }

                &.input--filled {
                    background: rgba($color-light, 0.1);
                    border-bottom: 1px solid rgba($color-light, 0.42);
                }

                &.input--outlined {
                    border: 1px solid rgba($color-light, 0.42);
                }
            }

            &:has(.form__select)::before {
                border-bottom: 2px solid $color-light;
                border-left: 2px solid $color-light;
            }

            &:has(.input--standard)::after,
            &:has(.input--filled)::after,
            &:has(.input--outlined)::after {
                border-color: $color-primary-light;
            }

            &:has(.input--standard:focus) .form__label,
            &:has(.input--standard:not(:placeholder-shown)) .form__label,
            &:has(.input--standard > option:checked) .form__label,
            &:has(.input--filled:focus) .form__label,
            &:has(.input--filled:not(:placeholder-shown)) .form__label,
            &:has(.input--filled > option:checked) .form__label,
            &:has(.input--outlined:focus) .form__label,
            &:has(.input--outlined:not(:placeholder-shown)) .form__label,
            &:has(.input--outlined > option:checked) .form__label {
                color: $color-primary-light;
            }

            &:has(.input--outlined:focus) .form__label,
            &:has(.input--outlined:not(:placeholder-shown)) .form__label,
            &:has(.input--outlined > option:checked) .form__label {
                background: $color-dark-elevation-3;
            }

            .form__select {
                option {
                    background: $color-dark-elevation-8;
                }
            }

            .custom__select__options {
                li {
                    border-left: 1px solid rgba($color-light, 0.42);
                    border-right: 1px solid rgba($color-light, 0.42);
                    background: $color-dark-elevation-8;

                    &:first-child {
                        border-top: 1px solid rgba($color-light, 0.42);
                    }
                    &:last-child {
                        border-bottom: 1px solid rgba($color-light, 0.42);
                    }

                    &.highlight {
                        background: $color-primary-light;
                        color: $color-dark;
                    }
                }
            }
        }
    }
}
