nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.75em;
    padding: 1em;
    background: $color-primary;
    color: $color-white;
    font-family: $font-family-secondary;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);

    a,
    button {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        font-size: 1.5rem;
        display: inline-block;
        min-width: max-content;
        width: 100%;
        cursor: pointer;
    }

    .nav__main {
        display: none;
        height: 100%;

        &.show {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            inset: 3.75em 0 0 0;
            height: calc(100dvh - 3.75em);
            overflow-y: auto;
            background: $color-primary;
        }

        li {
            padding: 1.5em 0;
            width: 100%;
            text-align: center;
            background: $color-primary;

            a {
                padding: 1em;

                &.active {
                    text-decoration: underline 2px solid $color-white;
                    text-underline-offset: 0.25em;
                }

                &:hover {
                    background: $color-primary-light;
                }
            }
        }
    }

    li.nav__secondary {
        padding: 0;
        margin-top: auto;

        a,
        button,
        span {
            font-size: 1rem;
        }

        .nav__locale,
        .nav__settings {
            .submenu-selector {
                display: none;
            }

            .submenu {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;

                li {
                    min-width: max-content;
                    flex: 1;
                    padding: 0 1em;
                    text-align: center;
                }
            }
        }
        .nav__locale {
            li {
                background: $color-primary;

                &:not(:last-of-type) {
                    border-right: 1px solid $color-white;
                }
            }
        }

        .nav__settings {
            .submenu {
                li {
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}

.hamburger {
    position: absolute;
    height: 32px;
    width: 32px;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    span {
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
        background: $color-white;
        border-radius: 7px;

        &:first-of-type {
            top: 5px;
        }

        &:nth-of-type(2) {
            top: 14px;
        }

        &:last-of-type {
            top: 23px;
        }
    }
}

@media #{$mq-md} {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5em 3em;
        transition:
            0.3s padding ease,
            0.3s font-size ease;

        &.expanded {
            padding: 2.5em 5em;
            background: none;
            box-shadow: none;
            align-items: baseline;

            a {
                font-size: clamp(3rem, 3.5vw, 5rem);
            }

            .nav__main {
                align-items: baseline;
            }
        }

        .nav__main {
            display: flex;
            flex-direction: row;
            align-items: center;

            &.show {
                position: initial;
                flex-direction: initial;
                width: initial;
                inset: initial;
                height: inherit;
                overflow-y: initial;
                background: initial;
            }

            li {
                padding: 0;
                background: none;

                &:not(:last-of-type) {
                    margin-right: 1.5em;
                }

                a {
                    padding: initial;

                    &:hover {
                        background: initial;
                    }
                }
            }
        }

        li.nav__secondary {
            margin-top: initial;

            &:not(.invisible) {
                position: absolute;
                width: max-content;
                top: 1.125em;
                right: 1.5em;
            }

            a,
            button {
                width: fit-content;
            }

            .nav__secondary__list {
                display: flex;

                li:last-of-type .submenu {
                    transform: translateX(-65%);
                }
            }

            .submenu {
                display: flex;
            }

            .nav__locale,
            .nav__settings {
                position: relative;

                .submenu-selector {
                    display: flex;
                    height: 100%;
                    font-size: 1.125rem;

                    svg {
                        height: 1.125rem;
                    }
                }

                .submenu {
                    display: none;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0.5rem 0;
                    background: $color-primary;
                    box-shadow:
                        0 3px 6px rgba(0, 0, 0, 0.16),
                        0 3px 6px rgba(0, 0, 0, 0.23);

                    li {
                        padding: 0;

                        &:not(:last-of-type) {
                            margin-right: 0;
                            border: none;
                        }

                        a {
                            padding: 1em 1.5em;
                            width: 100%;

                            &:hover {
                                background: $color-primary-light;
                            }
                        }
                    }
                }

                &:hover .submenu,
                .submenu-selector:focus + .submenu,
                .submenu-selector:active + .submenu,
                .submenu:focus-within {
                    display: block;
                }
            }

            .nav__settings {
                .submenu {
                    li {
                        padding: 1em;
                    }
                }
            }
        }
    }

    .hamburger {
        display: none;
    }
}

@media print {
    nav {
        position: static;

        .nav__main {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                flex: 1 0 33%;
                &:last-of-type {
                    flex-basis: 100%;
                }
            }
        }
    }

    .hamburger {
        display: none;
    }
}
