// _socials.scss

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0;

    &__item {
        padding: 0 1.5em;

        &:not(:last-of-type) {
            border-right: 1px solid rgba($color-white, 0.1);
        }

        a {
            display: flex;

            svg {
                height: 2em;
            }
        }
    }
}

@media print {
    svg {
        g {
            display: none;
        }
    }
}
