// _tables.scss

.table {
    background: $color-white;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        padding: 0.5em;
        border-bottom: 1px solid rgba($color-black, 0.1);
    }

    &__row {
        &.header {
            text-align: left;

            &--table {
                background: $color-primary;
                color: $color-white;
                th,
                td {
                    font-weight: 500;
                }
            }

            &--body {
                th,
                td {
                    font-weight: 700;
                }
                background: $color-light;
            }
        }

        &.highlight {
            th,
            td {
                font-weight: 700;
            }
        }
    }

    &__cell {
    }

    &--inbox {
        .table__row.message {
            cursor: pointer;

            &:hover,
            &:focus,
            &:focus-within {
                background: $color-primary-light;
                outline: none;
            }

            button:hover,
            button:focus {
                outline: none;

                svg {
                    path {
                        fill: $color-error;
                    }
                }
            }
        }
    }

    .time {
        text-align: left;
    }
}

.emptyInboxMessage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    p {
        font-size: 2em;
        font-weight: bold;
        color: rgba($color-black, 0.3);
        text-transform: uppercase;
        user-select: none;
    }
}
