// _variables.scss

/* FONTS */
$font-family-primary: "Poppins", system-ui, sans-serif;
$font-family-secondary: "SF New Republic", system-ui, sans-serif;
$font-family-dyslexia: "OpenDyslexic", Arial, sans-serif;

/* FONTSIZES */
$font-small: 0.8125em;

/* BORDER-RADIUS */
$border-radius: 4px;
