// _contact.scss

section#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .left {
        width: 50%;
        padding: 5em;
    }

    .right {
        form {
            width: 700px;
        }
    }
}
