section {
    &.full-height {
        height: 100dvh;
    }

    &.content-grid {
        display: grid;

        & > * {
            grid-column: content;
        }

        & > .full-width {
            grid-column: full-width;
        }
    }

    &.hero {
        grid-template-columns: [full-width-start] 1em [content-start] 1fr [content-end] 1em [full-width-end];
    }

    &.text {
        grid-template-columns: [full-width-start] auto [content-start] clamp(45ch, 50%, 75ch) [content-end] auto [full-width-end];
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }
}

@media #{$mq-xs} {
    section {
        &.hero {
            grid-template-columns: [full-width-start] 2em [content-start] 1fr [content-end] 2em [full-width-end];
        }
    }
}

@media #{$mq-sm} {
    section {
        &.hero {
            grid-template-columns: [full-width-start] auto [content-start] 840px [content-end] auto [full-width-end];
        }
    }
}

@media #{$mq-md} {
    section {
        &.hero {
            grid-template-columns: [full-width-start] 12em [content-start] 1fr [content-end] 12em [full-width-end];
        }
    }
}

@media #{$mq-lg} {
    section {
        &.hero {
            grid-template-columns: [full-width-start] auto [content-start] 1040px [content-end] auto [full-width-end];
        }
    }
}
