section {
    &.full-height {
        min-height: 100vh;
        min-height: 100dvh;
    }

    &.content-grid {
        display: grid;
        grid-template-columns: [full-width-start] 1em [content-start] 1fr [content-end] 1em [full-width-end];

        & > * {
            grid-column: content;
        }

        & > .full-width {
            grid-column: full-width;
        }

        &.text {
            grid-template-columns: [full-width-start] auto [content-start] clamp(45ch, 50%, 70ch) [content-end] auto [full-width-end];
        }
    }

    &.hero {
        padding-top: 0;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .left {
        margin-bottom: 1.5em;
    }
}

html.dyslexia-friendly {
    section {
        &.content-grid {
            &.text {
                grid-template-columns: [full-width-start] 1em [content-start] 1fr [content-end] 1em [full-width-end];
            }
        }
    }
}

@media #{$mq-xs} {
    section {
        &.content-grid {
            grid-template-columns: [full-width-start] 2em [content-start] 1fr [content-end] 2em [full-width-end];
        }

        .left {
            margin-bottom: 2.5em;
        }
    }

    html.dyslexia-friendly {
        section {
            &.content-grid {
                &.text {
                    grid-template-columns: [full-width-start] auto [content-start] clamp(45ch, 50%, 70ch) [content-end] auto [full-width-end];
                }
            }
        }
    }
}

@media #{$mq-sm} {
    section {
        &.content-grid {
            grid-template-columns: [full-width-start] auto [content-start] 840px [content-end] auto [full-width-end];
        }
    }
}

@media #{$mq-md} {
    section {
        &.content-grid {
            grid-template-columns: [full-width-start] 12em [content-start] 1fr [content-end] 12em [full-width-end];
        }

        .left {
            margin-bottom: initial;
        }
    }
}

@media #{$mq-lg} {
    section {
        &.content-grid {
            grid-template-columns: [full-width-start] auto [content-start] 1040px [content-end] auto [full-width-end];
        }
    }
}

@media print {
    section {
        &.full-height {
            min-height: 0;
        }

        &.content-grid {
            display: block;
        }

        .left,
        .right {
            display: block;
        }

        .left {
            margin-bottom: 0;
        }
    }
}
